.head {
    height: 1.25rem;
    color: black;
    font-size: .3rem;
}
.head>div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.head strong {
    font-weight: normal;
}
.earned {
    max-height: 3.5rem;
    min-height: 3.5rem;
    font-size: .3rem;
    overflow: scroll;
    text-align: center;
    background-color: white;
}
th {
    text-align: center;
}

.detail {
    height: 7.15rem;
    font-size: .3rem;
}
.detail caption {
    padding-left: .3rem;
    color: #000;
}
.detail th {
    background-color: #ffa600;
}